body{
	background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: 150%;
}


/*set Header font styles*/
.hdrfnt{
	font-family: 'Kumar One', cursive;
	font-size: 40px;
	font-weight: bold;
}

/*Add top margins to the header and playsections*/
h1, .toptm{
	margin-top: 3%;
}


/*Style the Score section*/
.score{
	font-size: 20px;
	font-family: 'Kumar One', cursive;
	font-weight: bold;
}

.wclr{
	color: green;
}

.lclr{
	color: red;
}


.jumbotron{
	background: none;
}

.numdisplay{
	font-size: 150px;
}

.numhdr{
	font-size: 60px;
}

.imgsize{
	width: 400px;
	height: 300px;
	border-radius: 180px;
}

.gmbutton{
	background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Oleo Script', cursive;
    color: #F0CB35;
    text-align: center;
    height: 100px;
	width: 100%;
	font-size: 40px;

}

.btn:hover{
	cursor: pointer;
	color: #F0CB35;
}

.btn:focus{
	outline: none; 
	color: #F0CB35;
	background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pad{
	margin-top: 10px;
}

/*Change width and background for footer section*/
.footer{
	width: 100%;
	background-color: #1c1e22;
	padding-top: 5px;
}

/*pop up*/
#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}
#popup {
  display: none;
  position: absolute;
  top: 30%;
  left: 35%;
  background: #000;
  width: 800px;
  height: 500px;
  margin-left: -100px; /*Half the value of width to center div*/
  margin-top: -100px; /*Half the value of height to center div*/
  z-index: 200;
}
#popupclose {
  float: right;
  padding: 10px;
  cursor: pointer;
  color: #F0CB35;
}
.popupcontent {
  padding: 0 30px 30px 30px;
  font-family: 'Oleo Script', cursive;
  color: #F0CB35;
  font-size: 25px;
  line-height: 1.5;
}


.instruc:hover{
	text-decoration: underline;
	cursor: pointer;
}
